:root {
	--header-background-color: #F2E9E9;
	--footer-background-color: black;
	--header-height: 123px;
	--footer-height: 41px;
	--circle-size: 10px;
	--circle-color: #F72828;

	--main-height: calc(100vh - var(--header-height) - var(--footer-height));
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Amiko', sans-serif;
}

a {
	text-decoration: none;
	color: #000;
	line-height: 32px;
}

header {
	background-color: var(--header-background-color);
}

header ul {
	list-style-type: none;
	height: var(--header-height);
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 18px;
}

header ul li {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.menu ul li .circle {
	width: var(--circle-size);
	height: var(--circle-size);
	border-radius: 50%;
	background-color: var(--circle-color);
}

.menu ul li:not([selected]) .circle {
	visibility: hidden;
}

.menu ul li:hover .circle {
	visibility: visible;
}

footer {
	background-color: var(--footer-background-color);
	height: var(--footer-height);
}

.first main {
	display: table;
	overflow-y: scroll;
    margin: 0 auto;
    height: var(--main-height);
}

.first main .container {
    display: table-cell;
    vertical-align: middle;
}

.first main .content {
	display: flex;
	width: 881px;
	height: 624px;
}

.first main .content .titles {
	flex: 1;
}

.first main .content .titles .top {
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: end;
	margin-bottom: 20px;
}

.first main .content .titles h1 {
	margin: 0;
	font-size: 72px;
	font-weight: 700;
	line-height: 96px;
}

.first main .content .titles h2 {
	margin: 0;
	font-size: 24px;
	line-height: 32px;
}

.first main .content .rectangles {
	width: 437px;
	display: flex;
    gap: 15px;
}

.first main .content .rectangles .rectangle {
    background-color: #EBEF18;
}

.first main .content .rectangles .left {
	width: 134px;
}

.first main .content .rectangles .right {
	width: 288px;
}

.first main .content .rectangles .left {
    margin-top: 44px;
}

.first main .content .rectangles .left .rectangle:nth-child(1) {
    height: 23px;
    width: 50%;
    margin-bottom: 8px;
}

.first main .content .rectangles .left .rectangle:nth-child(2) {
    height: 46px;
    margin-bottom: 11px;
}

.first main .content .rectangles .left .rectangle:nth-child(3) {
    height: 404px;
    margin-bottom: 11px;
}

.first main .content .rectangles .left .rectangle:nth-child(4) {
    height: 28px;
    width: 88px;
    margin-bottom: 11px;
}

.first main .content .rectangles .left .row {
    display: flex;
    gap: 7px;
}

.first main .content .rectangles .left .row .rectangle {
    height: 26px;
    width: 25px;
}

.first main .content .rectangles .right {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.first main .content .rectangles .right .right-top {
    display: flex;
    align-items: end;
    gap: 14px;
    height: 396px;
}

.first main .content .rectangles .right .right-top .right-top-left .rectangle {
    width: 246px;
    height: 352px;
}

.first main .content .rectangles .right .right-top .right-top-right {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.first main .content .rectangles .right .right-top .right-top-right .rectangle {
    width: 28px;
    height: 55px;
}

.first main .content .rectangles .right .right-top .right-top-right .rectangle:nth-child(4) {
    height: 198px;
}

.first main .content .rectangles .right .right-bottom {
    display: flex;
    gap: 14px;
    height: 212px;
}

.first main .content .rectangles .right .right-bottom .right-bottom-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.first main .content .rectangles .right .right-bottom .right-bottom-left {
    width: 123px;
}

.first main .content .rectangles .right .right-bottom .right-bottom-left .rectangle {
    width: 100%;
    height: 212px;
}

.first main .content .rectangles .right .right-bottom .right-bottom-left-top {
    display: flex;
    justify-content: space-between;
    height: 105px;
}

.first main .content .rectangles .right .right-bottom .right-bottom-left-top .rectangle {
    width: 55px;
}

.first main .content .rectangles .right .right-bottom .right-bottom-left-bottom .rectangle {
    width: 110px;
    height: 58px;
}









.second {
    position: relative;
}

.second main {
    display: flex;
    overflow-y: scroll;
}

.second main .container {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-top: 119px;
}

.second main .content {
    display: flex;
    width: 969px;
    height: 100%;
    gap: 55px;
}

.second main .content .rectangle {
    height: 299px;
    width: 457px;
    background-color: #C4C4C4;
}

.second main .content .left,
.second main .content .right {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.second main .content .right {
    margin-top: 168px;
}

.second main aside {
    display: flex;
    flex-direction: column;
    width: 169px;
    background-color: #EBEF18;
}

.second footer {
    position: sticky;
    bottom: 0;
    left: 0;
}

.second aside {
    display: block;
}

.second aside .sidebar-top {
    flex: 1;
    display: flex;
    height: 696px;
    gap: 9px;
}

.second aside .sidebar-top .sidebar-top-left,
.second aside .sidebar-top .sidebar-top-right {
    width: 80px;
}

.second aside .sidebar-top .square {
    width: 80px;
    height: 80px;
}

.second aside .sidebar-top .sidebar-top-left .square {
    background-color: black;
}

.second aside .sidebar-top .sidebar-top-left .square:nth-child(1) {
    margin-top: 119px;
}

.second aside .sidebar-top .sidebar-top-left .square:nth-child(2) {
    margin-top: 417px;
}

.second aside .sidebar-top .sidebar-top-right .square {
    margin-top: 247px;
    background-color: white;
}

.second aside .sidebar-bottom {
    width: 100%
}

.second aside .sidebar-bottom .letter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 169px;
    height: 169px;
    font-size: 96px;
}

.second aside .sidebar-bottom .letter:hover {
    background-color: azure;
}











.third .wrapper {
    height: 1624px;
    margin: 0 auto;
    background-color: #F5F5F5;
}

.third .wrapper header {
    background-color: var(--header-background-color);
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: end;
}

.third .wrapper header #button {
    width: 80px;
    height: 80px;
    margin-right: 24px;
    background-color: black;
    cursor: pointer;
}

.third .wrapper main {
    height: 995px;
    display: flex;
}

.third .wrapper main .menu {
    width: 372px;
    height: 100%;
    background-color: #E5E5E5;
}

.third .wrapper main .menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
    margin-top: 105px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 18px;
}

.third .wrapper main .menu ul li {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.third .wrapper main .menu ul li .circle {
	width: var(--circle-size);
	height: var(--circle-size);
	border-radius: 50%;
	background-color: var(--circle-color);
}

.third .wrapper main #squares {
    flex: 1;
    padding: 0 64px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    column-gap: 132px;
    height: 100%;
    background-color: #F5F5F5;
    overflow-y: scroll;
}

.third .wrapper main #squares .square {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 123px;
    margin-bottom: 123px;
    background-color: black;
}

.third .wrapper main #squares .square.matched {
    background-color: green;
}

.third .wrapper main .side {
    width: 104px;
    background-color: #1847EF4D;
}

.third .wrapper section {
    display: block;
    height: 465px;
    width: 100%;
    background-color: #EBEF18;
}

@media only screen and (max-width: 850px) {
    .third .wrapper main {
        flex-direction: column;
    }

    .third .wrapper main .side {
        display: none;
    }

    .third .wrapper main .menu {
        width: unset;
        height: 105px;
        display: flex;
        justify-content: center;
    }

    .third .wrapper main .menu ul {
        margin-top: unset;
    }
}